:root {
  --bg-color: #3a4750;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  /* min-height: 100vh; */
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_slider {
  border: 3px solid rgba(255, 255, 255, 0.904);
  width: 640px;
  height: 500px;
  display: flex;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 20px;
}

.thumb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  width: 640px;
}

.img_small {
  width: 90px;
  height: 70px;
  object-fit: contain;
}
